<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <img [src]="image" />
</ion-item>
  <ion-list>
    <ion-item>
      <ion-label>Edward - 00000019274</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Saya mengerjakan UTS ini dengan bantuan dari pertemuan minggu pertama - minggu ke 7 dari praktikum.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
