<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admins</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let admin of admins" #slidingItem>
            <ion-item [routerLink]="['./', admin.id]">
              <ion-avatar slot="start">
                <ion-img [src]="admin.imageUrl"></ion-img>
              </ion-avatar>
              <ion-list>
              <ion-label>{{ admin.nama }}</ion-label>
              <ion-label>Harga: {{ admin.harga }}</ion-label>
              <ion-label>Tersedia: {{ admin.stock }}</ion-label>
              </ion-list>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option (click)="presentModal()">
                <ion-icon name ="create-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
              <ion-item-option (click)="presentAlert(admin.id)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
